<head th:include="head :: head"></head>
<div th:replace="index :: navbar">...</div>

<h1>List of Bet Details</h1>

<table border="1">
    <tr>
        <th>Transaction Id</th>
        <th>Name</th>
        <th>Game Id</th>
        <th>Game Name</th>
        <th>Game Type</th>
        <th>Bet Amount</th>
        <th>Win Amount</th>
        <th>Created Date</th>
        <th>Updated Date</th>
    </tr>
    <tr class="even pointer" th:each="row: ${betDetails}" id="tablerow">
        <td th:text="${row.transactionid}"/>
        <td th:text="${row.name}"/>
        <td th:text="${row.gameid}"/>
        <td th:text="${row.gamename}"/>
        <td th:text="${row.gamename}"/>
        <td th:text="${row.betamount}"/>
        <td th:text="${row.winamount}"/>
        <td th:text="${{#dates.format(row.createddate, 'dd-MM-yyyy HH:mm')}}"/>
        <td th:text="${{#dates.format(row.updateddate, 'dd-MM-yyyy HH:mm')}}"/>
    </tr>
</table>
