<head th:include="head :: head"></head>
<div th:replace="index :: navbar">...</div>

<h1>Place Bet</h1>
<form th:object="${formData}"
      th:action="@{/submitBet}"
      method="post">
    <div>
        <label for="transactionid">Transaction Id</label>
        <input id="transactionid" type="text"
               th:field="*{transactionid}">
        <p th:if="${#fields.hasErrors('transactionid')}"
           th:text="${#strings.listJoin(#fields.errors('transactionid'), ', ')}"></p>
    </div>
    <div>
        <label for="name">Name</label>
        <input id="name" type="text"
               th:field="*{name}">
        <p th:if="${#fields.hasErrors('name')}"
           th:text="${#strings.listJoin(#fields.errors('name'), ', ')}"></p>
    </div>
    <div>
        <label for="gameid">Game Id</label>
        <input id="gameid" type="text"
               th:field="*{gameid}">
        <p th:if="${#fields.hasErrors('gameid')}"
           th:text="${#strings.listJoin(#fields.errors('gameid'), ', ')}"></p>
    </div>
    <div>
        <label for="gamename">Game name</label>
        <input id="gamename" type="text"
               th:field="*{gamename}">
        <p th:if="${#fields.hasErrors('gamename')}"
           th:text="${#strings.listJoin(#fields.errors('gamename'), ', ')}"></p>
    </div>
    <div>
        <label for="gametype">Game Type</label>
        <select id="gametype" name="gametype">
            <option value="live">真人</option>
            <option value="electronic">电游</option>
            <option value="fish">捕鱼</option>
        </select>
        <p th:if="${#fields.hasErrors('gametype')}"
           th:text="${#strings.listJoin(#fields.errors('gametype'), ', ')}"></p>
    </div>
    <div>
        <label for="betamount">Bet Amount</label>
        <input id="betamount" type="text"
               th:field="*{betamount}">
        <p th:if="${#fields.hasErrors('betamount')}"
           th:text="${#strings.listJoin(#fields.errors('betamount'), ', ')}"></p>
    </div>
    <div>
        <label for="winamount">Win Amount</label>
        <input id="winamount" type="text"
               th:field="*{winamount}">
        <p th:if="${#fields.hasErrors('winamount')}"
           th:text="${#strings.listJoin(#fields.errors('winamount'), ', ')}"></p>
    </div>

    <button type="submit">Place Bet</button>
</form>

